body {
	font-family:  'Montserrat', sans-serif;
	color:  ivory;
	background-color:  lightslategray;
}

[class*="col-"] {
	width:  100%;
	padding:  20px;
	margin:  10px;

}

@media only screen and (min-width:  768px) {
	[class*="col-"] {
		float:  left;
	}
}

.col-1 {width:  8.33%;}
.col-2 {width:  16.66%;}
.col-3 {width:  25%;}
.col-4 {width:  33.33%;}
.col-5 {width:  41.66%;}
.col-6 {width:  50%;}
.col-7 {width:  58.33%;}
.col-8 {width:  66.66%;}
.col-9 {width:  75%;}
.col-10 {width:  83.33%;}
.col-11 {width:  91.66%;}
.col-12 {width:  100%;}

header{
	width:  100%;
	height:  400px; 
	background-color:  lightcyan;
	background-image:  url("../afbeeldingen/Emmeloord.jpg");
	text-align:  center;
	background-position:  center;
	background-repeat:  no-repeat;
	background-size:  cover;
}

footer {
	clear:  left;
	width:  100%;
	min-height:  100px;
	font-size:  75%;
}

#kolom-1 {
	background-color: gray;
	height: auto;
	text-align: center;
	margin-left:  auto;
	margin-right:  auto;
	overflow:  auto;
}

/* 
Deze mediaquery lost het probleem met
tekstoverflow op, maar ik weet niet of dat de 
bedoeling is in combinatie met flexgrid. 
In dit geval is overflow auto gebruikt.

@media only screen and (max-width:  1200px) {
	#kolom-1 {
		width:  auto;
	}
}
*/

/*
Onderstaande code zorgt ervoor dat afbeeldingen op
erg kleine beeldschermen (mobiels) niet buiten de 
div uitkomen. 
*/
@media only screen and (max-width:  450px){
	img{
		max-width: 250px !important;
	}
}

#kolom-2 {
	background-color: dimgray;
	margin-left:  auto;
	margin-right:  auto;
}

#poldertoren {
	float:  right;
	max-height:  250px;
	width: 335px;
	margin: 10px;
}

#lange_nering {
	float:  right;
	max-height:  250px;
	width: 335px;
	margin: 10px;
